.bigframe {
  margin: 0;
  padding: 0;
}

.gameContainer {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  .canvas,
  .chatMessages {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }
  .user {
    height: 600px;
    width: 250px;
    // background-color: #201535;
  }
  .main {
    #jsCanvas {
      cursor: url("../photos/Santa.cur"), default;
      width: 1000px;
      height: 600px;
    }
    .controls {
      margin-top: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .currentPos {
        animation: spin 1s linear infinite;
      }

      .colors {
        .lastColor {
          margin-right: 0;
        }
        border-radius: 35px;
        padding: 10px;
        background-color: #a29bfe;
        margin: 20px;
        display: flex;
        &:hover .color {
          opacity: 0.95;
          transform: translateX(-3px);
        }
        .color {
          height: 50px;
          width: 50px;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 25px;
          transition: opacity 0.1s linear, scale 0.1s linear,
            transform 0.1s linear;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
            & ~ .color {
              transform: translateX(3px);
            }
          }
          &.selectedColor {
            box-shadow: none;
          }
        }
      }
      .buttonFrame {
        border-radius: 35px;
        padding: 5px 10px;
        background-color: #a29bfe;
        display: flex;

        @keyframes spin {
          from {
            transform: none;
          }
          to {
            transform: rotateY(1turn);
          }
        }

        .currentPos {
          animation: spin 1s linear infinite;
        }

        .penButton {
          background-image: url("../photos/greenPen.png");
          background-size: cover;
          border: none;
          border-radius: 30px;
          margin-right: 25px;
          width: 50px;
          height: 50px;
          cursor: pointer;
          transition: transform 0.1s linear;
          &:active {
            transform: scale(0.98);
          }
        }
        .fillButton {
          background-image: url("../photos/greenFill.png");
          background-size: cover;
          border: none;
          border-radius: 30px;
          margin-right: 25px;
          width: 50px;
          height: 50px;
          cursor: pointer;
          transition: transform 0.1s linear;
          &:active {
            transform: scale(0.98);
          }
        }
        .eraserButton {
          background-image: url("../photos/eraser.png");
          background-size: cover;
          border: none;
          border-radius: 30px;
          width: 50px;
          height: 50px;
          cursor: pointer;
          transition: transform 0.1s linear;
          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
  }
  .chat {
    width: 360px;
  }
}
