@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "variables";
@import "reset";
@import "notifications";
@import "chat";
@import "game";
@import "board";
@import "firstframe";
@import "secondframe";
@import "user";
@import "colorPic";

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  // background-color: $greyColor;
  background-image: url("../photos/back.png");
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  // loginbox animation
  .loginBox input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .loginBox input[type="text"]:focus {
    width: 280px;
    border-color: #2ecc71;
  }

  .loginBox,
  .bigFrame {
    display: none;
  }

  &.loggedOut {
    .loginBox {
      border-radius: 20px;
      display: block;
      width: 300px;
      height: 300px;
      background-color: #191919;
      h1 {
        margin-top: 25px;
        margin-bottom: 75px;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
      }
    }
  }
  &.loggedIn {
    .bigFrame {
      display: block;
      width: 85vw;
    }
  }
}
